﻿@model back_end_s6_l05.Models.Admin

@{
    ViewBag.Title = "Index";
}

<h1 class="text-center">Login</h1>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container d-flex align-content-center align-items-center flex-column">
        @Html.LabelFor(model => model.Username)
        @Html.EditorFor(model => model.Username)

        @Html.LabelFor(model => model.Password)
        @Html.EditorFor(model => model.Password)

        <button class="btn btn-primary mt-3">Login</button>
    </div>
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}